.site-footer {
    border-bottom: 10px solid var(--color-brand);
    padding: 30px 0;

    @include breakpoint-up(medium) {
        padding: 50px;
    }
}

.site-footer__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--grid-gap);

    @include breakpoint-up(medium) {
        grid-template-columns: repeat(4, 1fr);
    }
}
.site-footer__menu {
    li {
        margin-bottom: 5px;
    }
}